.service_item:hover i{
  color: white;
}

.service_item h4:hover{
  cursor: default;
}

.contact_area .github a{
  color: #393939;
}
.contact_area .github a:hover{
  color: #000000;
}

.contact_area .facebook a{
  color: #3908a2;
}
.contact_area .facebook a:hover{
  color: #2d097c;
}

.contact_area .gmail a{
  color: #e80505;
}
.contact_area .gmail a:hover{
  color: #b10909;
}





.footer_social{
  text-align:center;
  margin:5px 0px 30px
}
.footer_area .footer_social a{
  display:inline-block;
  width:45px;
  height:45px;
  line-height:45px;
  text-align:center;
  background:#ffffff;
  border-radius:36px;
  color:#05364d;
  font-size:16px;
  margin-right:12px;
  -webkit-transition:all 0.4s ease 0s;
  -moz-transition:all 0.4s ease 0s;
  -o-transition:all 0.4s ease 0s;
  transition:all 0.4s ease 0s
}
.footer_area .footer_social a:last-child{
  margin-right:0px
}
.footer_area .footer_social a:hover{
  color:#ffffff
}
.footer_area .footer_bottom{
  text-align:center
}
.footer_area .footer_bottom p{
  margin-bottom:0
}
.footer_area .footer_bottom a{
  color:#a932c7
}
