.service_item:hover i{
  color: white;
}

.service_item h4:hover{
  cursor: default;
}

.contact_area .github a{
  color: #393939;
}
.contact_area .github a:hover{
  color: #000000;
}

.contact_area .facebook a{
  color: #3908a2;
}
.contact_area .facebook a:hover{
  color: #2d097c;
}

.contact_area .gmail a{
  color: #e80505;
}
.contact_area .gmail a:hover{
  color: #b10909;
}

.single_portfolio p:hover{
  cursor: default;
}

.block-white-link, .block-white-link:hover{
  display: block;
  color: #ffffff;
}

.block-header-link{
  display: block;
}

.portfolio-overlay{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}

.portfolio-overlay:hover{
  position: absolute;
  top: 0px;
  background-color: hsla(226, 83%, 49%, 0.71);
  width: 100%;
  height: 100%;
}
