<!-- Botlogic Logix -->
<div
  class="h-full flex flex-col group relative rounded-2xl overflow-hidden border border-gray-700 transition-all duration-500"
>
  <div
    class="h-64 w-full bg-[#0f172a] items-center justify-center relative overflow-hidden border-b border-gray-700"
  >
    <a href="https://botlogic.us/" target="_blank">
      <img
        src="/assets/images/portfolio-images/botlogic.png"
        alt="Botlogic"
        class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700"
      />
    </a>
  </div>

  <div class="p-6 space-y-4">
    <div class="flex justify-between items-center">
      <h4
        class="text-xl font-bold text-white group-hover:text-[var(--neon-cyan)] transition-colors"
      >
        Botlogic
      </h4>

      <a
        href="https://botlogic.us/"
        target="_blank"
        class="text-gray-400 hover:text-blue-500 transition-colors duration-300"
      >
        <i class="fa fa-external-link text-lg"></i>
      </a>
    </div>
    <p class="text-justify tracking-tight">
      The idea for BotLogic.us was born on the beaches of sunny Key Largo,
      Florida, during a moment of inspiration at a team retreat.
    </p>
    <p class="text-justify tracking-tight">
      BotLogic.us was created to engage kids (and adults) by being both fun and
      challenging. Thanks to the efforts of a dedicated team and some very
      enthusiastic young testers, we are proud to bring you a puzzle game.
    </p>
    <div class="flex flex-wrap gap-2 py-2">
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Ruby
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Rails
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        JS
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        ImpactJS
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        TDD
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        BDD
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        RSpec
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Capybara
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Cucumber
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        GitLab
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        MySQL
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Game Dev
      </span>
    </div>
  </div>
</div>
