<!-- Hola -->
<div
  class="h-full flex flex-col group relative rounded-2xl overflow-hidden border border-gray-700 transition-all duration-500"
>
  <div
    class="h-64 w-full bg-[#1e293b] relative overflow-hidden border-b border-gray-700"
  >
    <a
      href="https://www.hola.com/"
      target="_blank"
      class="text-red-500 font-bold text-6xl text-center justify-center items-center flex h-full w-full"
    >
      iHOLA!
    </a>
  </div>

  <div class="p-6 space-y-4">
    <div class="flex justify-between items-center">
      <h4
        class="text-xl font-bold text-white group-hover:text-[var(--neon-cyan)] transition-colors"
      >
        iHOLA!
      </h4>

      <a
        href="https://www.hola.com/"
        target="_blank"
        class="text-gray-400 hover:text-blue-500 transition-colors duration-300"
      >
        <i class="fa fa-external-link text-lg"></i>
      </a>
    </div>
    <p class="text-justify tracking-tight">
      ¡HOLA! is an iconic global media brand and a leader in celebrity, royalty,
      and lifestyle news. It has grown into an international powerhouse,
      reaching millions of monthly readers.
    </p>
    <p class="text-justify tracking-tight">
      ¡HOLA! (and its English counterpart, HELLO!) is one of the world's most
      recognized publishers, specializing in high-quality editorial content
      focused on fashion, beauty, entertainment.
    </p>

    <div class="flex flex-wrap gap-2 py-2">
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        PHP
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        JS
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Symfony
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        PHPUnit
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Docker
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        TDD
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        CI/CD
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Twig
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Redis
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Bash
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        MySQL
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        PostgreSQL
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Datadog
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        GitLab
      </span>
    </div>
  </div>
</div>
