<!-- Public Happiness Movement -->
<div
  class="h-full flex flex-col group relative rounded-2xl overflow-hidden border border-gray-700 transition-all duration-500"
>
  <div class="h-64 w-full bg-[#1e293b] relative overflow-hidden">
    <a href="https://publichappinessmovement.com/" target="_blank">
      <img
        src="/assets/images/portfolio-images/PHM-logo-banner-text-mid.svg"
        alt="Project 3"
        class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700"
      />
    </a>
  </div>

  <div class="p-6 space-y-4">
    <div class="flex justify-between items-center">
      <h4
        class="text-xl font-bold text-white group-hover:text-[var(--neon-cyan)] transition-colors"
      >
        Public Happiness Movement
      </h4>

      <a
        href="https://publichappinessmovement.com/"
        target="_blank"
        class="text-gray-400 hover:text-blue-500 transition-colors duration-300"
      >
        <i class="fa fa-external-link text-lg"></i>
      </a>
    </div>
    <p class="text-justify tracking-tight">
      PHM is a platform bringing people and communities together to solve any
      and all societal issues. It brings communities together to create social
      initiatives for kindness and well-being.
    </p>
    <p class="text-justify tracking-tight">
      PHM is a kindness based opensource project that brings people and
      communities together to take action on causes they care about, both
      in-person locally and also globally.
    </p>
    <div class="flex flex-wrap gap-2 py-2">
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        JS
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        ReactJS
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Meteor
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        i18n
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Ruby
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Rails
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        MongoDB
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Discourse
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        Travis
      </span>
      <span class="flex items-center p-1 rounded border text-sm font-mono">
        PostgreSQL
      </span>
    </div>
  </div>
</div>
