<div class="px-4 justify-center py-5 text-gray-300 bg-black">
  <div class="max-w-4xl mx-auto">
    <div class="flex flex-wrap gap-6 items-center justify-center">
      <div class="flex flex-wrap gap-4">
        <a href="https://www.linkedin.com/in/marvelous-akpotu/" target="_blank"
          class="px-4 py-3 rounded-xl bg-[#1e293b] border-2 border-[var(--glass-border)] text-blue-400 border-blue-400 transition-all duration-300 shadow-lg">
          <i class="fa fa-linkedin text-2xl"></i>
        </a>
        <a href="mailto:still4marvelous@gmail.com"
          class="px-4 py-3 rounded-xl bg-[#1e293b] border-2 border-[var(--glass-border)] text-red-500 border-red-500 transition-all duration-300 shadow-lg">
          <i class="fa fa-envelope text-2xl"></i>
        </a>
        <a href="https://t.me/Akmarvelxy" target="_blank"
          class="px-4 py-3 rounded-xl bg-[#1e293b] border-2 border-[var(--glass-border)] text-blue-500 border-blue-500 transition-all duration-300 shadow-lg">
          <i class="fa fa-telegram text-2xl"></i>
        </a>
      </div>
    </div>
  </div>
</div>