---
---

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.current {
  color: green;
}

.mobile-nav{
  background-color: #ffffff;
  width: 100vw;
  margin: 0 0 0 -1em;
  padding: 0 0 0 0.4em;
  top: 3.5rem;
}