<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>Marvelous Akpotu | {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  {% include navigation.html %}
  <main class="pt-20">
    {{ content }}
  </main>
  <script src="https://kit.fontawesome.com/3e3ef2aafe.js" crossorigin="anonymous"></script>
  <script>
    function navToggle() {
      const mobileMenu = document.getElementById('mobileMenu');
      const iconOpen = document.getElementById('menuIconOpen');
      const iconClose = document.getElementById('menuIconClose');
      
      mobileMenu.classList.toggle('open');
      iconOpen.classList.toggle('hidden');
      iconClose.classList.toggle('hidden');
    }

    function resetNav() {
      const deviceWidth = document.documentElement.clientWidth;
      const mobileMenu = document.getElementById('mobileMenu');
      const iconOpen = document.getElementById('menuIconOpen');
      const iconClose = document.getElementById('menuIconClose');
      
      if (deviceWidth >= 768) {
        if (mobileMenu && mobileMenu.classList.contains('open')) {
          mobileMenu.classList.remove('open');
          iconOpen.classList.remove('hidden');
          iconClose.classList.add('hidden');
        }
      }
    }

    window.addEventListener("resize", resetNav);
  </script>
</body>

</html>